<div ng-controller="GlobalController">
	 <div><p class="bg-primary"> Sync view </p></div>
	
	 <form name="addTransactionForm" novalidate>
				<div class="table-responsive">
					<table class="table table-striped" >
						<tr> 
							<!--th>Id</th-->
							<th>Date</th>
							<th>Description</th>
							<th>Amount</th>
							<th>Tag</th>
							<th>Type</th>
							<th> Action</th>
						</tr>
						
						<tr data-ng-repeat="transaction in currentUser.transactionList">
							<!--td>{{transaction.id}}</td-->
							<td>{{transaction.date}} <!--input type="date" placeholder="yyyy-MM-dd" ng-model=transaction.date /--></td>
							<td>{{transaction.description}}<!--input type="text" ng-model=transaction.description /--></td>
							<td>{{transaction.amount}}<!--input type="number" ng-model=transaction.amount /--></td>
							<td>{{transaction.tags}}<!--input type="text" ng-model=transaction.tags /--></td>
							<td>{{transaction.type}}<!--input type="text" ng-model=transaction.type /--></td>
							<td><!--button ng-click="updateTransaction(transaction)">Save</button--> <button type="button" class="btn btn-default btn-lg"  ng-click="removeTransaction(transaction.id)"><span class="glyphicon glyphicon-minus"></span> Remove</button><p></td>
						</tr>
						
					</table>
				 </div>
		 </form>
	
	
	
		<button type="button" class="btn btn-default btn-lg" ng-click="synchronize()"><span class="glyphicon glyphicon-transfer"></span> Synch</button><p>
 
</div>