<div class="container-fluid">
	
		<div> <p class="bg-primary">  Add Transaction </p> </div>
            
			
            
            <form name="addTransactionForm" novalidate>
				<div class="table">
					<table class="table">
					<tr>
						<!--td>Date</td-->
						<td>
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
								<input type="date" placeholder="yyyy-MM-dd" class="form-control" ng-model="transdate" ng-keypress="setFocus($event, 13, 'description')" required/>
							</div>
						</td>	
					</tr>
					<tr>
						<!--td>Description</td-->
						<td>
							<div class="input-group">
      							<div class="input-group-addon"><i class="fa fa-pencil"></i></div>
								<input type="text" class="form-control" placeholder="Transaction description" name="description" id="description" ng-model="description" ng-keypress="setFocus($event, 13, 'amount')" required  tooltip-trigger="focus" tooltip-html-unsafe="<div><button type=&quot;button&quot; class=&quot;btn btn-default btn-sm&quot; ng-click=&quot;alert()&quot;> <i class=&quot;fa fa-minus-square&quot;></i> Expense</button></div>"/>
						<!--validation message-->
									<!--div ng-show="addTransactionForm.description.$invalid" class="text-warning"> Insert a transaction description! </div-->
							</div> 
						</td>

                		
					</tr>
					<tr>
						<!--td>Amount</td-->
						<td>
							<div class="input-group">
      							<div class="input-group-addon"><i class="fa fa-money"></i></div>
								<input type="number" name="amount" id="amount" placeholder="Transaction amount" ng-keypress="setFocus($event, 13, 'tag', 'input')" class="form-control" ng-model="amount" />
							</div>
						</td>	
					</tr>
					<!--tr>
						<td>Tag</td><td> <div> <input type="text" ng-model="tagtext"> </div> <div ng-dropdown-multiselect="" options="tagdata" selected-model="tag" extra-settings="tagdatasetting"> </div>  </td>	
					</tr-->
                    <tr>
						<!--td> tags</td-->
						<td>
							<div class="input-group">
      							<div class="input-group-addon"><i class="fa fa-tags"></i></div>
								<tags-input name="tag" id="tag" ng-model="tagtext" ng-keypress="setFocus($event, 13, 'btnExpense')" add-on-enter="false"><auto-complete source="loadTags($query)" max-results-to-show="20" min-length="1"></auto-complete></tags-input>
							</div>
						</td>
					</tr>    
                        
					<!--tr>
						<td>Type</td><td><select ng-model="type" class="form-control">
											<option value="Expense" selected="selected">Expense</option>
											<option value="Income">Income</option>

							</select></td>	
					</tr-->

					<tr><!--td></td--><td align="right"><button type="button" class="btn btn-default btn-sm" id="btnExpense" ng-click="addTransaction('Expense')" ng-disabled="addTransactionForm.$invalid"><i class="fa fa-minus-square"></i> Expense</button> <button type="button" class="btn btn-default btn-sm" id="btnIncome" ng-click="addTransaction('Income')" ng-disabled="addTransactionForm.$invalid"><i class="fa fa-plus-square"></i> Income</button></td></tr>

					</table>
				</div>
			</form> 
	
	
</div>