<div class="container-fluid">
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <!-- brand section-->
                <div ng-include="'view/view-navbarBrand.html'"></div>    
                <!-- end brand section -->
                
                <!-- start tool button -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#synch" ng-click="synchronize()"><i class="fa fa-cloud-upload fa-2x"></i></a></li>
                </ul>
                <!-- end tool button -->
            </div>
        </div>
    </header>	
	
	<div><p class="bg-primary"> Sync view  <div align="right"><i class="fa fa-user"></i>  <i>{{currentUser.username}} </i><span class="badge">{{currentUser.transactionList.length}}</span>
            </div>
        </p>
    </div>
	
	 <form name="SynchTransactionForm" novalidate>
				<!--div class="table-responsive">
					<table class="table table-striped" >
						<tr> 
							<!--th>Id</th-->
							<!--th>Date</th>
							<th>Description</th>
							<th>Amount</th>
							<th>Tag</th>
							<th>Type</th>
							<th> Action</th>
						</tr>
						
						<tr data-ng-repeat="transaction in currentUser.transactionList">
							<!--td>{{transaction.id}}</td-->
							<!--td>{{transaction.date}} <!--input type="date" placeholder="yyyy-MM-dd" ng-model=transaction.date /--><!--/td>
							<td>{{transaction.description}}<!--input type="text" ng-model=transaction.description /--></td>
							<!--td>{{transaction.amount}}<!--input type="number" ng-model=transaction.amount /--><!--/td>
							<td>{{transaction.tags}}<!--input type="text" ng-model=transaction.tags /--><!--/td>
							<td>{{transaction.type}}<!--input type="text" ng-model=transaction.type /--><!--/td>
							<td><!--button ng-click="updateTransaction(transaction)">Save</button--> <!--button type="button" class="btn btn-default btn-xs"  ng-click="removeTransaction(transaction.id)"><i class="fa fa-cloud-upload "></i> Cancel</button><p></td>
						</tr>
						
					</table>
				 </div-->
         
                <ul class="list-group">
                    <li data-ng-repeat="transaction in currentUser.transactionList" class="list-group-item" ng-swipe-left="removeTransaction(transaction.id)"><h5 class="list-group-item-heading">{{transaction.date}} - {{transaction.type}}</h5>
                        <p class="list-group-item-text">{{transaction.type}}, Description: {{transaction.description}}, Amount: {{transaction.amount}},00, Tags: {{transaction.tags}} </p>
                    </li>
                </ul>
		 </form>
	
	
	
		<!--button type="button" class="btn btn-default btn-sm" ng-click="synchronize()"><i class="fa fa-cloud-upload"></i> Synch</button><p-->
    
    <button ng-show="globalLoader.loading" class="btn btn-success">Waiting...
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </button>
 
</div>