<div class="container-fluid">
	<header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <!-- brand section-->
                <div ng-include="'view/view-navbarBrand.html'"></div>    
                <!-- end brand section -->
                
                <!-- tool button section -->        
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#settings" ng-click="openAddUser()"><i class="fa fa-user-plus fa-2x"></i></a></li>
                </ul>
                <!-- end tool section -->
            </div>
        </div>
    </header>
    
	<div> 
		<p class="bg-primary"> Setting view 
			<!-- user and loader section-->
                <div ng-include="'view/view-userHeader.html'"></div>    
            <!-- end user and loader section -->
        </p>
    </div>

    
    <form name="setUserfrm" novalidate>
		<div class="table-responsive">
					<table class="table table-striped" >
						<tr> 
							<!--th>Id</th-->
							<th>User</th>
							<th>Action</th>
							
						</tr>
						
						<tr data-ng-repeat="user in users">
							
							<td>{{user.username}}</td>
							
							<td><button type="button" class="btn btn-default btn-xs" ng-click="setCurrent(user)"><span class="glyphicon glyphicon-star"></span> Set</button><button type="button"  class="btn btn-default btn-xs" ng-click="removeUser(user.username)"> <span class="glyphicon glyphicon-minus"></span>Remove</button></td>
						</tr>
						
					</table>
		</div>
		<!--button class="btn btn-default btn-xs" ng-click="openAddUser()"><i class="fa fa-user-plus"></i> Add User</button-->
	</form>	
	
			
</div> 
