<div class="container-fluid">
		
	<div> <p class="bg-primary"> Setting view </p> </div>
	
	<!-- Modal form add User -->
    <script type="text/ng-template" id="addUserModal.html">
        <div class="modal-header"><span class="label label-info">Add User</span></div>
        <div class="modal-body">
            <form name="addUserfrm" novalidate>            
                <div class="table-responsive">
                    <table class="table">
                    <tr>
                        <!--td>User</td--><td><input type="text" placeholder="username" name="username" ng-model="username" required/>
                        <!--validation user-->
                        <div ng-show="addUserfrm.username.$invalid" class="text-warning"> Insert a user! </div></td>


                    </tr>
                    <tr>
                        <!--td>Password</td--><td><input name="password" placeholder="password"  type="password" ng-model="password"/>
                        <!--validation password-->
                        <div ng-show="addUserfrm.password.$invalid" class="text-warning"> Insert a password! </div></td>	
                    </tr>
                    <tr><!--td></td--><td align="right"><button type="button" class="btn btn-default btn-xs" ng-click="addUser()" ng-disabled="addUserfrm.$invalid"><span class="glyphicon glyphicon-ok"></span>Confirm</button><button type="button" class="btn btn-default btn-xs" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span>Cancel</button></td></tr>

                    </table>
                    <div class="cancel">
                        <button ng-show="loader.loading" class="btn btn-success">Waiting...
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <!-- Modal form add User -->
    
    <form name="setUserfrm" novalidate>
		<div class="table-responsive">
					<table class="table table-striped" >
						<tr> 
							<!--th>Id</th-->
							<th>User</th>
							<th>Action</th>
							
						</tr>
						
						<tr data-ng-repeat="user in users">
							
							<td>{{user.username}}</td>
							
							<td><button type="button" class="btn btn-default btn-xs" ng-click="setCurrent(user)"><span class="glyphicon glyphicon-star"></span> Set current</button><button type="button"  class="btn btn-default btn-xs" ng-click="removeUser(user.username)"> <span class="glyphicon glyphicon-minus"></span>Remove</button></td>
						</tr>
						
					</table>
		</div>
		<button class="btn btn-default btn-xs" ng-click="openAddUser()"><span class="glyphicon glyphicon-plus"></span>Add User</button>
	</form>	
	
			
</div> 
