<div ng-controller="GlobalController">
			<h2>Add Transaction view</h2> 
            <p>Current user: {{currentUser.username}}, ({{currentUser.transactionList.length}})</p>
			Date:<input type="date" placeholder="yyyy-MM-dd" ng-model="transdate"/>
			Description:<input type="text" ng-model="description"/>
			Amount: <input type="number" ng-model="amount"/>
			Tag:<input type="text" ng-model="tag"/>
			<button type="button" class="btn btn-default btn-lg" ng-click="addTransaction()"><span class="glyphicon glyphicon-star"></span> Add</button>
            
	
</button>
	
	
            <ul>
			<li ng-repeat="transaction in currentUser.transactionList">
				{{transaction.id}},Date:<input type="date" placeholder="yyyy-MM-dd" ng-model=transaction.date />,
			Desc.:<input type="text" ng-model=transaction.description />,
			Am.: <input type="number" ng-model=transaction.amount />,
			Tag:<input type="text" ng-model=transaction.tags />,
            Stat.: <input type="text" ng-model=transaction.status />,
            Type: <input type="text" ng-model=transaction.type /><button ng-click="updateTransaction(transaction)">Save</button> <button ng-click="removeTransaction(transaction.id)">Remove</button><p>
			</li>
			</ul>
    <button ng-click="synchronize()">Synchronize</button><p>
    	</div>